{% extends 'base.html' %}
{% load static i18n %}
{% load thumbnail %}
{% block content %}
        <div class="wrapper">

            <!-- Carousel Start -->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for carusel in carusel_list %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="carousel{{ forloop.counter }}">
                        <img src="{{carusel.esas_sekil.url}}" alt="Carousel Image">
                    </div>
                    {% endfor %}
                        <div class="carousel-caption">
                        </div>
                        

                    


                </div>

                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Carousel End -->


            <!-- Feature Start-->
            <div class="feature wow fadeInUp" data-wow-delay="0.1s">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-worker"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>{% trans "Mütəxəssis İşçi" %}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-building"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>{% trans "Keyfiyyətli İş" %}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>{% trans "24/7 Dəstək" %}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature End-->

            

            <!-- About Start -->
            {% for about in about_list %}
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6 ">
                            <div class="about-img">
                                {% thumbnail about.about_img "370x347" crop="center" as im %}
                                        <img src="{{ im.url }}" width="300" height="370">
                                {% endthumbnail %}
                                
                                {% for i in about.about_image.all %}
                                    {% thumbnail i.image "370x347" crop="center" as im %}
                                        <img src="{{ im.url }}" width="300" height="370">
                                    {% endthumbnail %}
                                {% endfor %}
                                
                            </div>

                            
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-left">
                                
                                <strong>{{about.title}}</strong>
                            </div>
                            <div class="about-text" style="overflow-wrap: break-word;">
                                <p>
                                    <span style="font-size: 18px;">
                                        {{about.about_paragraph1}}
                                    </span>
                                </p>
                                <br>
                                
                                <p>
                                    <span style="font-size:18px;">
                                        {{about.about_paragraph2}}
                                    </span>

                                </p>
                                <br>
                                

                                <ul>
                                    {% for i in about_service_names_list %}
                                    <li>{{i.xidmet_ad}}</li><br>
                                    {% endfor %}
                                </ul>

                                    
                                
                                <br>
                                
                                <p>
                                    <span style="font-size: 18px;">
                                        {{about.about_paragraph4}}
                                    </span>
                                </p>
                                <a class="btn" href="{% url 'core:about' %}">{% trans "Daha ətraflı" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- About End -->
            

            <!-- Fact Start -->
            {% for employess in employess_list %}
            <div class="fact">
                <div class="container-fluid">
                    <div class="row counters">
                        <div class="col-md-6 fact-left wow slideInLeft">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-worker"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">{{employess.işçilər}}</h2>
                                        <p>{% trans "İşçilər" %}</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-building"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">{{employess.musteriler}}</h2>
                                        <p>{% trans "Xoş Müştərilər" %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 fact-right wow slideInRight">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-address"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">{{employess.bitmis_layiheler}}</h2>
                                        <p>{% trans "Tamamlanmış Layihələr" %}</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">{{employess.islenen_proyektler}}</h2>
                                        <p>{% trans "İŞLƏNƏN PROYEKTLƏR" %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Fact End -->


            <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header text-center">
                        <p>{% trans "Services" %}</p>
                        <h2>{% trans "Xidmətlər təqdim edirik" %}</h2>
                    </div>
                    <div class="col-12 about-area space__inner--y30">
                        <div class="row">
                          <div class="col-lg-12 col-12 order-1 order-lg-2">
                            <div class="service-section space__inner--ry100">
                              <div class="container">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="service-item-wrapper space__bottom--m40">
                                        <div class="row">
                                          {% for s in servic %}
                                          <div
                                          class="col-lg-4 col-md-6 col-12 space__bottom--40"
                                          >
                                          <div class="service-grid-item">
                                              <div class="service-grid-item__image">
                                              <div class="service-grid-item__image-wrapper">
                                                <a
                                                  href="{{s.get_absolute_url}}"
                                                >
                                                {% thumbnail s.cover_image "370x347" crop="center" as im %}
                                                  <img
                                                    src="{{ im.url }}" width="300" height="370">
                                                {% endthumbnail %}
                                                </a>
                                              </div>
                                              <div class="icon">
                                                <i class="flaticon-014-robot-arm"></i>
                                              </div>
                                            </div>
                                            <div class="service-grid-item__content">
                                              <h3 class="title">
                                                <a
                                                  href="{{s.get_absolute_url}}"
                                                  >{{s.title}}</a
                                                >
                                              </h3>
                                              <p class="card-text">{{s.description}}</p>
                                                
                                              
                                              <a href="{{s.get_absolute_url}}" class="btn btn-warning"
                                                >{% trans "Ətraflı" %}</a
                                              >
                                            </div>
                                          </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- <div class="row">
                    {% for service in service_list %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="card mt-5" style="width: 18rem;">
                        <img class="card-img-top" src="{{service.cover_image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{service.title}}</h5>
                            <p class="card-text">{{service.description}}</p>
                            {% comment %} <a href="#" class="btn btn-primary">{% trans "Ətraflı" %}</a> {% endcomment %}
                        </div>
                        </div>
                        </div>
                    {% endfor %}
                        
                    </div> -->
                </div>
            </div>
            <!-- Service End -->


            
            
            <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>        
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe  src="https://www.youtube.com/embed/O9F4rXp1Ogc" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Video End -->


            
            

           


            <!-- Testimonial Start -->
            
            <!-- Testimonial End -->


           


            

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
{% endblock %}

        
